html, body {
  height: 100%;
  width: 100%;
}

.art-group {
	text-align: center;
	display:block;
}

.artists-header {
	text-align: center;
	display:block;
}


.artist {
	text-align: center;
	display:block;
}

