/*	Style as you normally would, as these styles demonstrate.
	Micro Template system doesn't require any styles to work, 
	and MT doesn't dirty the stylesheet. 
 */


* {
	text-align: center;
}

H3{
	margin: 50px;
	font-family: Tahoma;
}

.title{
	font-size: 24px;
}

.engineers {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.engineer {
	height: 350px;
}

.engineer img {
	height: 80%;
}

.engineer .caption {
	background: lightgoldenrodyellow;
	border-radius: 10px;
	border: solid;
	padding: 5px;
	font-weight: bold; 
}

.artists {
	display: flex;
	flex-wrap: wrap;
	font-family: arial;
	font-weight: bold;
	gap: 25px;
}

.artist {
	height: 150px;
}

.artists img {
	height: 70%;
}

.artist .caption {
	color: green;
	border: solid;
}
