/* This templating system doesn't require any styles to work. 
   These styles demonstrate styling of templated items. 
   (It's normal). */

* {
	text-align: center;
}

.engineers {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.engineer {
	width: 250px;
}

.engineer .img-clip {
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 10px 50px;
	margin-bottom: 8px;
	background-color: black;
}

.engineer img {
	width: 100%;
}

.engineer .caption {
	background: lightgoldenrodyellow;
	width: 190px;
	border-radius: 10px;
	border: solid;
	padding: 5px;
	margin-bottom: 40px;
	font-weight: bold;
}

.artists {
	display: flex;
	flex-wrap: wrap;
	font-family: arial;
	font-weight: bold;
	align-items: center;
	justify-content: center;
}

.artist {
	width: 150px;
}

.artist img {
	width: 100px;
}

.artist .caption {
	color: green;
	width: 100px;
	border: solid;
}
