html, body {
  height: 100%;
  width: 100%;
}

h1 {
	text-align: center;
}


.artists-header {
	text-align: center;
	display:block;
}


.art-group {
	text-align: center;
	display:block;
}


.art-group img {
	width:200px;
}

.artist {
	text-align: center;
	display:block;
}


.artist img {
	width:200px;
}

